In [106]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [107]:
df = pd.read_csv('owid-energy-data(1).csv')

In [108]:
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

In [109]:
df.shape

(21590, 129)

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21590 entries, 0 to 21589
Columns: 129 entries, country to wind_share_energy
dtypes: float64(126), int64(1), object(2)
memory usage: 21.2+ MB

In [111]:
df.columns.to_list()

['country',
 'year',
 'iso_code',
 'population',
 'gdp',
 'biofuel_cons_change_pct',
 'biofuel_cons_change_twh',
 'biofuel_cons_per_capita',
 'biofuel_consumption',
 'biofuel_elec_per_capita',
 'biofuel_electricity',
 'biofuel_share_elec',
 'biofuel_share_energy',
 'carbon_intensity_elec',
 'coal_cons_change_pct',
 'coal_cons_change_twh',
 'coal_cons_per_capita',
 'coal_consumption',
 'coal_elec_per_capita',
 'coal_electricity',
 'coal_prod_change_pct',
 'coal_prod_change_twh',
 'coal_prod_per_capita',
 'coal_production',
 'coal_share_elec',
 'coal_share_energy',
 'electricity_demand',
 'electricity_generation',
 'electricity_share_energy',
 'energy_cons_change_pct',
 'energy_cons_change_twh',
 'energy_per_capita',
 'energy_per_gdp',
 'fossil_cons_change_pct',
 'fossil_cons_change_twh',
 'fossil_elec_per_capita',
 'fossil_electricity',
 'fossil_energy_per_capita',
 'fossil_fuel_consumption',
 'fossil_share_elec',
 'fossil_share_energy',
 'gas_cons_change_pct',
 'gas_cons_change_twh',
 'gas_consumption',
 'gas_elec_per_capita',
 'gas_electricity',
 'gas_energy_per_capita',
 'gas_prod_change_pct',
 'gas_prod_change_twh',
 'gas_prod_per_capita',
 'gas_production',
 'gas_share_elec',
 'gas_share_energy',
 'greenhouse_gas_emissions',
 'hydro_cons_change_pct',
 'hydro_cons_change_twh',
 'hydro_consumption',
 'hydro_elec_per_capita',
 'hydro_electricity',
 'hydro_energy_per_capita',
 'hydro_share_elec',
 'hydro_share_energy',
 'low_carbon_cons_change_pct',
 'low_carbon_cons_change_twh',
 'low_carbon_consumption',
 'low_carbon_elec_per_capita',
 'low_carbon_electricity',
 'low_carbon_energy_per_capita',
 'low_carbon_share_elec',
 'low_carbon_share_energy',
 'net_elec_imports',
 'net_elec_imports_share_demand',
 'nuclear_cons_change_pct',
 'nuclear_cons_change_twh',
 'nuclear_consumption',
 'nuclear_elec_per_capita',
 'nuclear_electricity',
 'nuclear_energy_per_capita',
 'nuclear_share_elec',
 'nuclear_share_energy',
 'oil_cons_change_pct',
 'oil_cons_change_twh',
 'oil_consumption',
 'oil_elec_per_capita',
 'oil_electricity',
 'oil_energy_per_capita',
 'oil_prod_change_pct',
 'oil_prod_change_twh',
 'oil_prod_per_capita',
 'oil_production',
 'oil_share_elec',
 'oil_share_energy',
 'other_renewable_consumption',
 'other_renewable_electricity',
 'other_renewable_exc_biofuel_electricity',
 'other_renewables_cons_change_pct',
 'other_renewables_cons_change_twh',
 'other_renewables_elec_per_capita',
 'other_renewables_elec_per_capita_exc_biofuel',
 'other_renewables_energy_per_capita',
 'other_renewables_share_elec',
 'other_renewables_share_elec_exc_biofuel',
 'other_renewables_share_energy',
 'per_capita_electricity',
 'primary_energy_consumption',
 'renewables_cons_change_pct',
 'renewables_cons_change_twh',
 'renewables_consumption',
 'renewables_elec_per_capita',
 'renewables_electricity',
 'renewables_energy_per_capita',
 'renewables_share_elec',
 'renewables_share_energy',
 'solar_cons_change_pct',
 'solar_cons_change_twh',
 'solar_consumption',
 'solar_elec_per_capita',
 'solar_electricity',
 'solar_energy_per_capita',
 'solar_share_elec',
 'solar_share_energy',
 'wind_cons_change_pct',
 'wind_cons_change_twh',
 'wind_consumption',
 'wind_elec_per_capita',
 'wind_electricity',
 'wind_energy_per_capita',
 'wind_share_elec',
 'wind_share_energy']

In [112]:
sorted(list(set(df['country'])))

['ASEAN (Ember)',
 'Afghanistan',
 'Africa',
 'Africa (EI)',
 'Africa (EIA)',
 'Africa (Ember)',
 'Africa (Shift)',
 'Albania',
 'Algeria',
 'American Samoa',
 'Angola',
 'Antarctica',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia',
 'Asia & Oceania (EIA)',
 'Asia (Ember)',
 'Asia Pacific (EI)',
 'Asia and Oceania (Shift)',
 'Australia',
 'Australia and New Zealand (EIA)',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'CIS (EI)',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central & South America (EIA)',
 'Central African Republic',
 'Central America (EI)',
 'Central and South America (Shift)',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Czechoslovakia',
 'Democratic Republic of Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'EU28 (Shift)',
 'East Germany',
 'East Timor',
 'Eastern Africa (EI)',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Eurasia (EIA)',
 'Eurasia (Shift)',
 'Europe',
 'Europe (EI)',
 'Europe (EIA)',
 'Europe (Ember)',
 'Europe (Shift)',
 'European Union (27)',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'G20 (Ember)',
 'G7 (Ember)',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'High-income countries',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latin America and Caribbean (Ember)',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Low-income countries',
 'Lower-middle-income countries',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia (country)',
 'Middle Africa (EI)',
 'Middle East (EI)',
 'Middle East (EIA)',
 'Middle East (Ember)',
 'Middle East (Shift)',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'Netherlands Antilles',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'Non-OECD (EI)',
 'Non-OECD (EIA)',
 'Non-OPEC (EI)',
 'Non-OPEC (EIA)',
 'North America',
 'North America (EI)',
 'North America (Ember)',
 'North America (Shift)',
 'North Korea',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'OECD (EI)',
 'OECD (EIA)',
 'OECD (Ember)',
 'OECD (Shift)',
 'OPEC (EI)',
 'OPEC (EIA)',
 'OPEC (Shift)',
 'Oceania',
 'Oceania (Ember)',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Persian Gulf (EIA)',
 'Persian Gulf (Shift)',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Serbia and Montenegro',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South America',
 'South Korea',
 'South Sudan',
 'South and Central America (EI)',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'U.S. Pacific Islands (EIA)',
 'U.S. Territories (EIA)',
 'USSR',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'United States Pacific Islands (Shift)',
 'United States Territories (Shift)',
 'United States Virgin Islands',
 'Upper-middle-income countries',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Wake Island (EIA)',
 'Wake Island (Shift)',
 'West Germany',
 'Western Africa (EI)',
 'Western Sahara',
 'World',
 'Yemen',
 'Yugoslavia',
 'Zambia',
 'Zimbabwe']

In [113]:
df = df[['country', 'year', 'iso_code', 'population', 'gdp', 'energy_per_capita']]
df

,country,year,iso_code,population,gdp,energy_per_capita
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
21585,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,3441.986
21586,Zimbabwe,2019,ZWE,15354606.0,NaN,3003.655
21587,Zimbabwe,2020,ZWE,15669663.0,NaN,2680.132
21588,Zimbabwe,2021,ZWE,15993525.0,NaN,2635.154
21589,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN

In [114]:
list(set(df['iso_code']))

['EGY',
 'CAN',
 'CIV',
 'LBY',
 'RUS',
 'LVA',
 'WSM',
 'SYC',
 'UGA',
 'NER',
 'HKG',
 'ESH',
 'MTQ',
 'ITA',
 'REU',
 'FSM',
 'ATA',
 'CZE',
 'DEU',
 'LBR',
 'SVN',
 'PRI',
 'JOR',
 'PRK',
 'GBR',
 'ALB',
 'NPL',
 'GIB',
 'ARE',
 'IRN',
 'ZWE',
 'FIN',
 'GAB',
 'GRD',
 'CUB',
 'GUM',
 'BTN',
 'ECU',
 'MEX',
 'KHM',
 'ZMB',
 'VNM',
 'NGA',
 'HUN',
 'CMR',
 'SRB',
 'UZB',
 'MWI',
 'TCA',
 'COG',
 'ARM',
 'BEN',
 'GHA',
 'ISL',
 'NLD',
 'COL',
 'PYF',
 'ABW',
 'MNE',
 'VGB',
 'PER',
 'GNB',
 'SSD',
 'GUF',
 'BEL',
 'AFG',
 'GTM',
 'ISR',
 'KAZ',
 'TWN',
 'ANT',
 'FLK',
 'RWA',
 'OMN',
 'QAT',
 'MLT',
 'LCA',
 'TLS',
 'CYM',
 'SAU',
 'BIH',
 'JPN',
 'THA',
 'SUR',
 'FJI',
 'VEN',
 'ATG',
 'IDN',
 'TZA',
 'USA',
 'LKA',
 'AUS',
 'CHN',
 'MDG',
 'HRV',
 'DNK',
 'SWE',
 'SPM',
 'CAF',
 'KNA',
 'ERI',
 'PRY',
 'COM',
 'LBN',
 'MDA',
 'CYP',
 'TUN',
 'MNP',
 'GUY',
 'SLV',
 'SVK',
 'ASM',
 'KOR',
 'TKM',
 'BWA',
 'KGZ',
 'BGR',
 'BRN',
 'MOZ',
 'AZE',
 'SEN',
 'PAK',
 'BHS',
 'TTO',
 'BRB',
 'VCT',
 'MAC',
 'ESP',
 'VIR',
 'HTI',
 'CPV',
 'MAR',
 'DZA',
 'GNQ',
 'NAM',
 'MUS',
 'IRL',
 'NRU',
 'KIR',
 'BFA',
 'TCD',
 'KWT',
 'ROU',
 'IRQ',
 'BGD',
 'BDI',
 'MDV',
 'ARG',
 'SOM',
 'MRT',
 'CRI',
 nan,
 'AUT',
 'PHL',
 'TUR',
 'MYS',
 'HND',
 'PRT',
 'DMA',
 'GLP',
 'GEO',
 'MNG',
 'NIC',
 'NIU',
 'NOR',
 'TUV',
 'GIN',
 'SHN',
 'CUW',
 'EST',
 'BOL',
 'BLR',
 'ZAF',
 'ETH',
 'COD',
 'SYR',
 'GRC',
 'MSR',
 'BMU',
 'NZL',
 'TON',
 'JAM',
 'MLI',
 'DJI',
 'SLB',
 'UKR',
 'PAN',
 'NCL',
 'LUX',
 'GMB',
 'PNG',
 'LTU',
 'POL',
 'STP',
 'SWZ',
 'KEN',
 'MKD',
 'MMR',
 'COK',
 'DOM',
 'CHL',
 'GRL',
 'AGO',
 'IND',
 'SGP',
 'SDN',
 'PSE',
 'CHE',
 'YEM',
 'URY',
 'FRA',
 'FRO',
 'SLE',
 'BRA',
 'LAO',
 'LSO',
 'TGO',
 'TJK',
 'BHR',
 'VUT',
 'BLZ']

In [115]:
df = df.loc[df['iso_code'] == 'POL']
df

      country  year iso_code  population           gdp  energy_per_capita
15909  Poland  1900      POL  24312686.0  6.682500e+10                NaN
15910  Poland  1901      POL  24489736.0           NaN                NaN
15911  Poland  1902      POL  24665156.0           NaN                NaN
15912  Poland  1903      POL  24838911.0           NaN                NaN
15913  Poland  1904      POL  25013887.0           NaN                NaN
...       ...   ...      ...         ...           ...                ...
16027  Poland  2018      POL  38521464.0  1.053479e+12          31661.174
16028  Poland  2019      POL  38493600.0           NaN          30777.799
16029  Poland  2020      POL  38428368.0           NaN          29514.133
16030  Poland  2021      POL  38307724.0           NaN          32001.074
16031  Poland  2022      POL  39857144.0           NaN          30065.420

[123 rows x 6 columns]

In [116]:
df = df.drop(['gdp'], axis=1)
df

      country  year iso_code  population  energy_per_capita
15909  Poland  1900      POL  24312686.0                NaN
15910  Poland  1901      POL  24489736.0                NaN
15911  Poland  1902      POL  24665156.0                NaN
15912  Poland  1903      POL  24838911.0                NaN
15913  Poland  1904      POL  25013887.0                NaN
...       ...   ...      ...         ...                ...
16027  Poland  2018      POL  38521464.0          31661.174
16028  Poland  2019      POL  38493600.0          30777.799
16029  Poland  2020      POL  38428368.0          29514.133
16030  Poland  2021      POL  38307724.0          32001.074
16031  Poland  2022      POL  39857144.0          30065.420

[123 rows x 5 columns]

In [118]:
list(pd.isna(df['energy_per_capita']))

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [121]:
df['energy_per_capita'].fillna(value=0, inplace=True)
df

C:\Users\mateu\AppData\Local\Temp\ipykernel_10928\977948472.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['energy_per_capita'].fillna(value=0, inplace=True)

      country  year iso_code  population  energy_per_capita
15909  Poland  1900      POL  24312686.0              0.000
15910  Poland  1901      POL  24489736.0              0.000
15911  Poland  1902      POL  24665156.0              0.000
15912  Poland  1903      POL  24838911.0              0.000
15913  Poland  1904      POL  25013887.0              0.000
...       ...   ...      ...         ...                ...
16027  Poland  2018      POL  38521464.0          31661.174
16028  Poland  2019      POL  38493600.0          30777.799
16029  Poland  2020      POL  38428368.0          29514.133
16030  Poland  2021      POL  38307724.0          32001.074
16031  Poland  2022      POL  39857144.0          30065.420

[123 rows x 5 columns]